html {
    scroll-behavior: smooth; /* Smooth scrolling */
  }
  
  .scroll-icon {
    display: inline-flex; /* Use flex to center the icon inside the link */
    justify-content: center;
    align-items: center;
    margin-top: 150px; /* Space above the icon */
    color: #111212; /* Secondary color for the icon */
    font-size: 2rem; /* Icon size */
    text-decoration: none; /* Remove underline from link */
    transition: color 0.3s ease-in-out; /* Smooth transition for color change */
  }
  
  .scroll-icon:hover {
    color: #d1dce8; /* Darker shade of the secondary color for hover effect */
  }
.hero-container {
    height: 100vh; /* Fill the entire viewport height */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    text-align: center; /* Center text */
    margin-top: 5%;
    padding: 0 15%; /* Maintain padding for inner content but remove margins */
  }
  
  /* If keeping separate hero divs for each heading */
  .hero {
    width: 100%; /* Full width of the container */
    display: flex;
    flex-direction: column; /* Stack children vertically */
    justify-content: center; /* Center content vertically in the flex container */
    align-items: center; /* Center content horizontally */
    margin: 0 auto; /* Remove any specific top margin */
    font-family: 'Aileron', sans-serif;
    font-weight: bold;
  }

.blink_me {
    color: #000000;
    animation: blinker 1.5s linear infinite;
    width: calc(10vw * 0.5);
  }
@keyframes blinker {
    50% {
      opacity: 0.7;
    }
  }
    
    .hero h1 {
        width: 100%;      /* Make h1 fill the hero container */
        margin: 0;        /* Remove default margin */
        font-size: 10vw;
        line-height: 1.0; /* Adjust line height for better readability if needed */
        text-align: left; /* Left align the h1 */
        align-self: flex-start;
      }
.hero h1 .fa {
        font-size: 5vw; /* Example: Adjust this value to scale the icon with the viewport width */
    }
      .hero h2 {
        width: 100%;      /* Make h2 fill the hero container */
        margin: 0;        /* Remove default margin */
        font-size: 2.4vw;
        line-height: 1.0; /* Adjust line height for better readability if needed */
        text-align: left; /* Left align the h1 */
        align-self: flex-start;
        margin-left:1%;
      }
      .hero h3 {
        width: 100%;      /* Make h2 fill the hero container */
        margin: 0;        /* Remove default margin */
        font-size: 2vw;
        line-height: 1.0; /* Adjust line height for better readability if needed */
        text-align: left; /* Left align the h1 */
        align-self: flex-start;
        color:#1d1c1c;
      }
      
      /* Add some vertical space between h2 and h1 */
      .hero h2 + h1 {
        margin-top: 0.5em; /* Adjust the value as needed for your design */
      }
      

body {
    /* Set the background image to the one you created */
    background-image: url('bg.jpg');
    
    /* Center the background image */
    background-position: center center;
    
    /* Make the background image cover the entire width of the page */
    background-size: cover;
    
    /* Keep the background image fixed when scrolling */
    background-attachment: fixed;
    
    /* Ensure the background image doesn't repeat */
    background-repeat: no-repeat;
    
    /* Optional: Set a background color that is similar to your image for when the image is loading */
    background-color: #21a8b1;
    margin: 0;
    padding: 0;
    }


.container {
    padding-top:5%;
    margin-left: 15%;
    margin-right:15%;
    padding-left:5%;
    padding-right:5%;
    padding-bottom:5%;
    font-family: 'Aileron', sans-serif;
    background-color: rgba(206, 206, 206, 0.3);
    border-radius: 20px; 
    }
.container p{
    font-size: 1.6vw;
    font-weight:500;
}

.container p.caption{
  font-size:0.9vw;
}

.container p.secc {
  font-size: 1.4vw;
  font-weight:400;
}

.container h1 {
    font-size: 3.9vw;
    justify-content: center;
    margin-bottom:0;
}
.container h2 {
    margin-top:1%;
    font-size: 2vw;
}

.container ul,ol {
  font-size: 1.6vw;
  font-weight: 500;
}

.container2 {
        padding-top:10%;
        padding-left: 15%;
        padding-right:15%;
        font-family: 'Aileron', sans-serif;
        }

.raise-element {
vertical-align: top; /* Adjusts the vertical alignment */
position: relative;
top: -0.5em; /* Moves the element up by half the height of the element's font size */
width: calc(10vw * 0.5); /* Example: Make the image width 90% of the h1 font size */
vertical-align: middle; /* Adjust vertical alignment as needed */
}


.button {
  padding: 10px 20px;
  background-color: rgb(54, 3, 92); /* White button background */
  color: #f3f3f3; /* Dark text for contrast */
  border: 2px solid #333; /* Optional: Adds a border for more definition */
  border-radius: 5px; /* Rounded corners for a modern look */
  text-transform: uppercase; /* Optional: Makes the text uppercase for more prominence */
  font-weight: bold; /* Bold text for better visibility */
  text-align: center;
  font-size:1.4vw;
  display: inline-block;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  width:11vw;
}

.button:hover {
  background-color: #e0d6d6; /* Light grey background on hover for interaction feedback */
  color: #000; /* Optionally make the text darker on hover */
}

.button:focus {
  outline: 0; /* Removes the outline on focus for a clean look */
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,0.25); /* Adds a glow effect on focus */
}

.button:active {
  background-color: #004085; /* Even darker shade for active state */
  border-color: #003768;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); /* Adds an inner shadow to simulate a pressed button */
}

.button:disabled {
  background-color: #007bff;
  border-color: #007bff;
  opacity: 0.65;
  pointer-events: none; /* Disables pointer events when the button is disabled */
}

.center-div {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.center-div2 {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  padding-top:2%;

}